<p> <%= link_to 'Edit', edit_photo_path(@photo) %> <%= link_to 'Delete', photo_path(@photo), method: :delete, data: {confirm: "Are you sure?" } %> </p>
<p> <%= @photo.title %> </p>
<p> <%= @photo.description %> </p>
<%= image_tag @photo.url %>

<h2> Comments </h2>
<% @comments.each do |comment| %>
<p><%= comment.name %></p>
<p><%= comment.message %></p>
<p><%= comment.created_at %></p>
<% end %>
